server.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:8080/RestaurantSOAWP/AccessServer.jws" 
xmlns:intf="http://localhost:8080/RestaurantSOAWP/AccessServer.jws" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8080/RestaurantSOAWP/AccessServer.jws">


     <wsdl:message name="recette"/>
       <wsdl:message name="recetteResponse">
      <wsdl:part name="recetteReturn"/>
    </message>
    
     <wsdl:message name="addRecette"/>
       <wsdl:message name="addRecetteResponse">
      <wsdl:part name="addRecetteReturn"/>
    </message>
    
     <wsdl:message name="SupprRecette"/>
       <wsdl:message name="SupprRecetteResponse">
      <wsdl:part name="SupprRecetteReturn"/>
    </message>



<wsdl:portType name="Recette_PortType">
<wsdl:operation name="recette">
      <wsdl:input message="typens:recette"/>
      <wsdl:output message="typens:recetteResponse"/>
    </wsdl:operation>
    <wsdl:operation name="addRecette">
      <wsdl:input message="typens:addRecette"/>
      <wsdl:output message="typens:addRecetteResponse"/>
    </wsdl:operation>
    <wsdl:operation name="supprRecette">
      <wsdl:input message="typens:supprRecette"/>
      <wsdl:output message="typens:supprRecetteResponse"/>
    </wsdl:operation>
</wsdl:portType>

  <binding name="essai_instanceBinding" type="typens:essai_instancePortType">

  <operation name="recette">
      <soap:operation soapAction="urn:essai_instanceAction"/>
      <input>
        <soap:body namespace="urn:exemple" use="encoded" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="urn:exemple" use="encoded" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>

    <operation name="addRecette">
      <soap:operation soapAction="urn:essai_instanceAction"/>
      <input>
        <soap:body namespace="urn:exemple" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="urn:exemple" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    
    <operation name="supprRecette">
      <soap:operation soapAction="urn:essai_instanceAction"/>
      <input>
        <soap:body namespace="urn:exemple" use="encoded"
         encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body namespace="urn:exemple" use="encoded" 
        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>

  <service name="exempleService">
    <port name="essai_instancePort" binding="typens:essai_instanceBinding">
      <soap:address location="http://localhost:8080/RestaurantSOAWP/AccessServer.jws"/>
    </port>
  </service>

</definitions>